/*
Colors
  #257A62 deep green-cyan
  #89C6A7 Eton blue (More like green)
  #FFFFFF Pure white
  #D1D1D1 Light gray
  #252323 Raisin black
*/

*{
  box-sizing: border-box;
}
header {
    background: #FFFFFF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color:#35495E;
  }
  .header-menu button{
    border: none;
    background: #D1D1D1;
    border-radius: 15%;
    margin: 4px;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
  }
  .header-menu button:hover {
    background-color: #89C6A7;
  }
  .main-div {
    background-color: #D1D1D1;
    height: 100%;
    width: 100%;
  }
  .maingrid{
    text-align: center;
    z-index: 1;
  }
  .board{
    display: inline-block;
    border-collapse: collapse;
  }
  .board table {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    margin-bottom: 0;
    width: 80%;
    height: 70%;
  }
  .board td {
    border: 1px solid #D1D1D1;
    width: 25px;
    height: 25px;
  }
  .cell-{
      display: inline-block;
      border-radius: 5%;
      display: inline-block;
      width: 40px;
      height: 40px;
      outline: 1px solid darkslategray;
  }
  .cell-1 {
    background: #89C6A7;
  }
  .cell-0 {
    background: #252323;
  }
  